<%- include('includes/head.ejs')%>
  <%- include('includes/nav.ejs')%>
    <div class="container">
      <div class="row">

        <div class="col-lg-2">

        </div>

        <div class="col-lg-8 my-3">
          <h1 class="text-center">Criar conta ou Entrar</h1>
          <p class="text-center lead">Faça login ou crie sua conta abaixo:</p>

          <%- include('includes/messages')%>

          <div class="row my-5">
            
            <div class="col-lg">
              <h4>Faça seu cadastro:</h4>
              <p>Caso não tenha uma conta ainda, cadastre-se agora:</p>

              <form action="/login/register" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Endereço de email:</label>
                  <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Digite sua senha:</label>
                  <input type="password" class="form-control" name="senha">
                </div>

                <button type="submit" class="btn btn-primary">Cadastrar</button>

              </form>
            </div>

            <div class="col-lg">
              <h4>Faça seu login:</h4>
              <p>Se já tiver uma conta,faça login abaixo:</p>
              <form action="/login/entrar" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Endereço de email:</label>
                  <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Digite sua senha:</label>
                  <input type="password" class="form-control" name="senha">
                </div>

                <button type="submit" class="btn btn-primary">Entrar</button>

              </form>


            </div>

          </div>

        </div>

        <div class="col-lg-2">

        </div>

        <%- include('includes/footer.ejs')%>